<CodeSnippet Format="1.0.0">
  <Header>
    <Title>WinItalPascalA Header</Title>
    <Shortcut>winA</Shortcut>
    <Description>Intestazione avanzata WinItalPascal con metadata</Description>
    <Author>Iaora</Author>
  </Header>
  <Snippet>
    <Code Language="VB">
      <![CDATA[
'=================================
' *** WinItalPascal ***
' Autore        : Iaora
' File          : $fileinput$
' Cartella      : $projectpath$
' Soluzione     : $projectname$
' Creato il     : $date$
' Modificato il : $date$
' YouTube       : iaoraGo
' NuGet         : ItalPascal
' GitHub        : List051
'=================================
Imports System.Data.SqlClient
Imports WinItalPascal
]]>
    </Code>
  </Snippet>
</CodeSnippet>
